body {
  background-image: url('https://github.com/kuro3344/Maple-Gear-Planner/raw/main/images/full-moon-maplestory-4s6k1cntl6b37k0x.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;  /* Text color for contrast */
}
